.logo {
    height: 50px;
    transition: all .2s ease-in-out;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #3a1408b2;
    backdrop-filter: blur(20px);
    top: 0;
    mask: linear-gradient(to top, transparent, black 60%);
    
}

body {
    
    padding: 0;
    margin: 0;
    background-color: #3A1408;
}

.posts {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profilePhoto {
    border-radius: 4000px;
}

.post {
    display: block;
    width: 50vw;
    background-color: #56220F;
    padding: 30px;
    padding-top: 20px;
    border-radius: 30px;
}
.posts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profilePhoto {
    width: 40px;
    height: 40px;
}

.ProfileName, .username, .postContent {
    font-family: "Instrument Sans";
    color: white;
    font-size: 26px;
}

.username {
    font-weight: 100;
    color: rgba(240, 248, 255, 0.692);
}

.postContent {
    font-size: 20px;
    margin-top: 10px;
}

.logo:hover {
    scale: 1.1;
}